* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #68a4ff;
}

.clock {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(235, 230, 230) url(clock.png);
  background-size: cover;
  border-radius: 50%;
  border: 20px solid #fff;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.2),
    0 0 0 4px rgba(255, 255, 255, 1);
}

.clock::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #848484;
  border: 2px solid #fff;
  z-index: 999;
  border-radius: 50%;
}

.clock__hour,
.clock__min,
.clock__sec {
  position: absolute;
}

.clock__hour,
.clock__hour__hr {
  width: 160px;
  height: 160px;
}

.clock__min,
.clock__min__mn {
  width: 190px;
  height: 190px;
}

.clock__sec,
.clock__sec__sc {
  width: 230px;
  height: 230px;
}

.clock__hour__hr,
.clock__min__mn,
.clock__sec__sc {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.clock__hour__hr::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 80px;
  background: #848484;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}

.clock__min__mn::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 90px;
  background: #d6d6d6;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}

.clock__sec__sc::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 150px;
  background: #ff6767;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}
